<!DOCTYPE html>
<html>
  <head>
    <title>Jest Testing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  </head>
  <body>
    <div id="app" />
    <script type="text/javascript" src="js/bundle.js"></script>
  </body>
</html>
